* {
    margin: 0;
    padding: 0;
}

.card {
    width: 250px;
    margin: 10px;
    transition: all .5s;

}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
    height: 375px;
    width: 100%;
    object-fit: cover; /*原圖等比例縮放*/
    /* border-radius: 20px; */
}

.card-title {
    margin: 10px 0;
    font-size: 24px;
}


.btn {
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 99px;
    display: block;
    /*因為是超連結行內元素，所以轉成區塊元素，才可以設定寬高*/
    text-align: center;
    
}

.card-body {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-text {
    margin-bottom: 20px;
}

.container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 20px;
}
